@model OrderViewModel

@{
    ViewBag.Title = "Create Order";
}
<div class="container my-5">

<h1 class="text-center my-4" style="color: #6e4c1e;">Create Your Order</h1>

<div class="row">
    @foreach (Product product in Model.Products)
    {
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <form asp-action="AddItem" method="post" class="w-100">
                <div class="card shadow-sm border-0 h-100">
                    <img src="@Url.Content(product?.ImageUrl)" class="card-img-top fixed-image-height" alt="@product.Description" style="height: 200px; object-fit: cover;">

                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title text-center" style="color: #5c3d1b;">@product.Name</h5>
                        <p class="text-center text-muted">@product.Price.ToString("C")</p>

                        <input type="hidden" value="@product.ProductId" name="prodId" />
                        <input type="number" name="prodQty" class="form-control mb-3" placeholder="Quantity" min="1" required />

                        <button type="submit" class="btn w-100 text-white" style="background-color: #CD853F;">Add</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>
</div>